.git
node_modules
vendor
.env
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
.phpunit.result.cache
npm-debug.log
yarn-error.log
.env.example
.history
.idea
.vscode
*.md
Dockerfile
docker-compose.yml
.dockerignore
deploy.sh